<html>
  <head>
    <title></title>
    <%= csrf_meta_tags 'application', media: 'all', 'data-turbo-links-track' :'reload' %>
    <%= stylesheet_link_tags 'application', 'data-turbo-links-track' :'reload' %>
  </head>
  <body>
    <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
  </body>
</html>

